In [1]:
import numpy as np
import pandas as pd

In [43]:
d={
    'Example':['Green','Green','Brown','Orange','Green','Green','Orange'],
    'Toughness':['Hard','Hard','Soft','Hard','Soft','Hard','Hard'],
    'Fungus':['No','Yes','No','No','Yes','Yes','No'],
    'Appearence':['Wrinkled','Smooth','Wrinkled','Wrinkled','Smooth','Wrinkled','Wrinkled'],
    'Poisonous':['Yes','No','No','Yes','Yes','Yes','Yes']
}

In [44]:
import pandas as pd
data=pd.DataFrame(d)
data

  Example Toughness Fungus Appearence Poisonous
0   Green      Hard     No   Wrinkled       Yes
1   Green      Hard    Yes     Smooth        No
2   Brown      Soft     No   Wrinkled        No
3  Orange      Hard     No   Wrinkled       Yes
4   Green      Soft    Yes     Smooth       Yes
5   Green      Hard    Yes   Wrinkled       Yes
6  Orange      Hard     No   Wrinkled       Yes

In [47]:
h=[None]*4
h
p

  Example Toughness Fungus Appearence Poisonous
0   Green      Hard     No   Wrinkled       Yes
3  Orange      Hard     No   Wrinkled       Yes
4   Green      Soft    Yes     Smooth       Yes
5   Green      Hard    Yes   Wrinkled       Yes
6  Orange      Hard     No   Wrinkled       Yes

In [46]:
p=data[data['Poisonous']=='Yes']
for i in p.index:
    s=[]
    for j in p:
        s.append(p[j][i])
#     print(s)
    s=s[:-1]
    for k in range(len(s)):
        if h[k]==None:
            h[k]=s[k]
        elif s[k]!=h[k]:
            h[k]='?'
print(h)

['?', '?', '?', '?']